#set ($page_title="History Comparison")
#parse("pageHead.vm")
#set($count=0)
#if($results.getResultContent() )
<table>
  <tr>
    <td class=#if($results.isCompleteMatch())"pass"#else"fail"#end>
      #if($$results.isCompleteMatch()) A Complete Match #else Something Didn't Match #end
    </td>
  </tr>
</table>

<table>
  <tr>
    <td>"Scores"</td>
    <td>$results.getFirstTableCreationDate()</td>
    <td>$results.getSecondTableCreationDate()</td>
  </tr>
#foreach($result in $results.getResultContent())
  <tr>
	<td class=$result> #if($result.equals("pass"))Match. #else Not a Match. #end 
		Score: $common.asPercentage($results.findMatchByFirstTableIndex($count).getScoreAsPercentage()) </td>
    <td>$results.getFirstTableResults().get($count)</td>
    <td>$results.getSecondTableResults().get($count)</td>
    #set ($count = $count + 1)
  </tr>

#end
 </table>
#else
<h2>Comparison Failed: $pageTitle.Title</h2>
#end
  #parse("pageFooter.vm")